@charset "utf-8";
/* CSS Document */
h2{font-size: 42px !important;
    text-align: left;
<<<<<<< HEAD
	font-family: 'Montserrat', sans-serif;}
body{
  transition: all 1s ease;
=======
	/*color:#ffffff !important; */
	font-family: 'Montserrat', sans-serif;}
body{
>>>>>>> 8c096dc53504e604e10a4d8c64a6031fa62e147a
background: #eee;	
padding:5px;
color: #555555;
font-family: 'Hind', sans-serif;
}
<<<<<<< HEAD
#Nav{background-color:#fff;margin:0!important; max-height: 50px!important;}
#nav li{height: 50!important;}
=======
#Nav{background-color:#fff;}

>>>>>>> 8c096dc53504e604e10a4d8c64a6031fa62e147a
.page-scroll:hover {color:#037ff3!important;}
.page-scroll
{color:#222; font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
font-size:14px;
font-weight:500;
}
<<<<<<< HEAD
/* footer{background: #000;color: #fff;padding:40px ;padding-bottom:50px;} */
=======
footer{
    background: #000;
    color: #fff;
    padding:40px ;
	padding-bottom:50px;
}
>>>>>>> 8c096dc53504e604e10a4d8c64a6031fa62e147a
header{
background:url(../img/pc2.jpg) bottom left ;
padding:200px;
}
.headerIn{
	
text-align:center; 
 font: 700 60px "Montserrat",Arial,sans-serif; /*700 gras*/
}
.btnHeader {
  /*  background: transparent!important;
    color: #3e4651; */
	color:white;
    border: 1px solid #3e4651 !important;
    font-size: 14px;
    padding: 15px 25px;
}
.btnHeader:hover{color:#000;}

.bloc3{
	
	padding:40px;
	padding-top:50px;
	height:300px;
    background: url(../img/2back.png) no-repeat center center #037ff3;
}
.inputForm{
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 1px;
}
.btnForm{
    width: 100%;
    height: 50px;
	font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    border: 0px solid transparent!important;
	border-radius: 1px;
    background: url(../img/btn.png) no-repeat top left #037ff3 !important;	
}

/* The Modaaaaaaaaaaaaaaaal (background) */
<<<<<<< HEAD
 .modal {
    top:0;
    display: none; 
    position: fixed; 
    background-color: rgba(0,0,0,0.4); 
=======
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /*  y'scrolli si ness */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
>>>>>>> 8c096dc53504e604e10a4d8c64a6031fa62e147a
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
<<<<<<< HEAD
    margin: 4% auto; /* 4% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
=======
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
	
>>>>>>> 8c096dc53504e604e10a4d8c64a6031fa62e147a
  animation-name: animatetop;
  animation-duration: 0.4s;
}
/* Add Animation  to model*/
@keyframes animatetop {
    from {top:-300px; opacity:0} 
<<<<<<< HEAD
    to {top:0px; opacity:1}
}
=======
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

>>>>>>> 8c096dc53504e604e10a4d8c64a6031fa62e147a
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}


.bloc4{ background:url(../img/world.png) fixed no-repeat ;
 		padding-top:40px;padding-bottom:50px;
		background-size:cover;
		}
.imgTeam{
	width: 200px;
    height: 200px;
	text-align:center;
	border-radius: 100%;
    border: 6px solid #ddd;
	}
.teamItem{
text-align:center;
text-transform: uppercase;	
color: #555555;
font-size: 15px;
<<<<<<< HEAD

=======
>>>>>>> 8c096dc53504e604e10a4d8c64a6031fa62e147a
}
.teamName{
	font-size: 18px;
    margin-top: 25px;
    font-weight: bold;
    margin: 30px 0 5px;
}
<<<<<<< HEAD
.course{
border: groove;
height:500px;
padding:100px 50px 20px 50px ;
}
.course0{

min-height:400px;
padding:100px 50px 20px 50px ;
/*background: #b84d45 url(../img/carreau.png) no-repeat; */
background:  url(../img/backCourseJQ.jpg)  center no-repeat;
background-size:cover;
}
.course02{

min-height:400px;
padding:100px 50px 20px 50px ;

background: #b84d45 url(../img/carreau.png) ; 
}
.course03{

min-height:400px;
padding:100px 50px 20px 50px ;
background: url(../img/pc.jpg) no-repeat ; 
background-size: cover;
}
.titreshodow{color: white; text-shadow: 2px 2px 4px #000000;}


=======


.course{
background-color:#037ff3 ;
height:500px;
padding:100px 50px 20px 50px ;
}
>>>>>>> 8c096dc53504e604e10a4d8c64a6031fa62e147a
 p{font-family: 'open sans';
    font-size: 19px;
    line-height: 32px;
    margin-bottom: 40px;}
.descriptionLang {
<<<<<<< HEAD
padding:90px 0 0 50px !important;}
	
.float {transition:all .9s;}

.float:hover {
  transform:translate(0px,-10px);
}

.titleCourse{    
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    margin:0 auto;	
    color:white;}

.all{    display:none; }

.btncourse{
    font-weight: normal;
    transition: all 0.2s cubic-bezier(0.75, 0, 0.06, 1);
}

.footer2{
    font-size: 20px;
    color:white;
    text-align: center;
    padding: 50px;
    background: #2d2d2d url(../img/footerbg.png)  center center no-repeat;
}
.cadre{    
    padding: 25px;    font: inherit;
    margin:30px;
        font-weight: 700;
    border: 4px solid #82c8bc; }
.cadre2{    
    padding: 25px;    font: inherit;
    margin:30px;
        font-weight: 700;
    border-radius: 10px;
    border: 4px double #ffa190; }
    
 .cadre3{    
    padding: 25px;    font: inherit;
    margin:30px;
    font-weight: 700;
    border-radius: 10px;
    border: 3px dashed #132f7e;
    border-style: groove;

     }   



img{max-width: 100%;max-height: 250px;}
/* .team-item{}
.team-item-content{} */
.team-item { 
  width: 100%;
  padding-right: 10px;
}
.team-member-picture-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.team-member-picture-wrapper:hover .team-item-picture img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.team-member-picture-wrapper:hover .team-member-find {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}
.team-member-picture-wrapper .team-member-find {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.team-member-picture-wrapper .team-member-find-overlay {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}
.team-member-picture-wrapper .team-member-find-overlay a {
  color: #ffffff;
}
.team-member-picture-wrapper .team-member-find-overlay .block-link {
  min-width: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.team-member-picture-wrapper .team-member-find-overlay .block-link:hover {
  background: #ffffff;
  color: #029669;
}
.team-member-picture-wrapper .team-member-find-content {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -20px;
}
.block-link {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.team-item-picture {
  overflow: hidden;
  border: 6px solid rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.team-item-picture img {
  width: 100%;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  transition: all 1s linear;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}
@media (min-width: 768px) {
  .team-item-picture img {
    margin-bottom: 0;
  }
}
.team-item-content span.fa {
  margin-right: 5px;
}
.team-item-content p {
  word-wrap: break-word;
}
.team-item-title {
  margin-top: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 0;
}
.team-item-subtitle {
  font-style: italic;
  font-size: 13px;
}


/* Circle */
.tuto {
    transition: all 2s ease;
}
 
.tuto:hover {
  border-radius: 30%;
 transform: rotate(10deg);
 opacity: 0.6;

}
/* Circle */
.user
{
  width: 40px;
  height: 40px;
  margin: 4px;
  cursor: pointer;
}



#slide {
  display: none;
}
.slideright
{
    z-index: 1;
    background-color: #e1e8ed;
}
.sidebar {
  transition: all 1s ease;
  position:fixed;
  right: -30px;
  width: 0px;
  padding: 20px;
  background: #e1e8ed;
  height: 100%;
  z-index: 1;
}

.sidebar ul {
  list-style: none;
  margin: 5px;
  padding: 5px;
  height: auto;
}

.sidebar li {
  color: black;
  font-family: arial;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size: 1.5em;
  margin-bottom: 40px;
  
}

#slide:checked + .slideright .sidebar {
  width: 250px;
}
.logout{font: 20px fantasy ;    transition: all 1s ease;}
.logout:hover{ color:red;   transform:translateX(20px); }
=======
padding:90px 0 0 50px !important;

}
	
.float {
  transition:all .3s ease-out;
}

.float:hover {

  transform:translate(0px,-10px);
}

#titleCourse{    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
	margin-top:100px;
    margin-bottom: 16px;
	color:white;}
>>>>>>> 8c096dc53504e604e10a4d8c64a6031fa62e147a
